.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-intro {
  font-size: large;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.app {
  width: 500px;
  margin: 10px;
}
.loginForm {
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 400px;
  margin: 10px;
  margin-left: 30%;
  margin-top: 10%;
}
.app-header {
  margin: 10px;
}

.title {
  font-size: 25px;
  font-weight: 500;
}
.input {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-color:rgb(201, 219, 210);
  padding: 10%;
}
.input input {
  width: 96%;
  height: 30px;
  padding: 5px;
  font-size: medium;
  margin-top: 5px;
  margin-left: 2px;
}
.input button {
  background-color: green;
  color: white;
  font-size: medium;
  width: 100%;
  margin-top: 5px;
  height: 40px;
}

.list {
  margin-top: 25px;
}

.item {
  display: flex;
  border: #f5f5f5 2px solid;
  align-items: center;
  height: 30px;
  padding: 10px;
  margin-top: 5px;
  font-size: larger;
}

.item p {
  text-align: left;
  margin: auto;
}

.item button {
  padding: 10px;
  background-color: grey;
  font-size: 14px;
  opacity: 0.95;
}

.menuItem {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: gray;
  align-self: center;
  justify-self: center;
}

.registrationTitle {
  color: gray;
  align-self: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
