.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.app-intro {
  font-size: large;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.app-header {
  height: 0px;
  padding: 20px;
}
.app {
  width: 100%;
  margin: 10px;
}
.loginForm {
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 400px;
  margin: 10px;
  margin-left: 30%;
  margin-top: 10%;
}
.app-header {
  margin: 10px;
}

.title {
  font-size: 25px;
  font-weight: 500;
}
.title-div {
  margin-top: -10%;
}

.input {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-color:rgb(201, 219, 210);
  padding: 10%;
}
.input input {
  width: 96%;
  height: 30px;
  padding: 5px;
  font-size: medium;
  margin-top: 5px;
  margin-left: 2px;
}
.input button {
  background-color: rgb(91, 100, 91);
  color: white;
  font-size: medium;
  width: 100%;
  margin-top: 5px;
  height: 40px;
}

.list {
  margin-top: 25px;
}

.item {
  display: flex;
  border: #f5f5f5 2px solid;
  align-items: center;
  height: 30px;
  padding: 10px;
  margin-top: 5px;
  font-size: larger;
}

.item p {
  text-align: left;
  margin: auto;
}

.item button {
  padding: 10px;
  background-color: grey;
  font-size: 14px;
  opacity: 0.95;
}

.registrationTitle {
  color: gray;
  align-self: center;
}
.welcome-message {
  float: left;
  background-color: aquamarine;
  width: 105%;
  flex-direction: row;
  margin-left: -3%;
}

.todo-app {
  flex-direction: row;
}

.container {
  width: 200%;
  background-color: blue;
  margin-left: -30%;
}
.input-div {
  width: 40%;
  float: left;
  height: auto;
  background-color: blue;
  margin-right: 5%;
}
.list-div {
  width: 40%;
  float: left;
  height: auto;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
